
    <form action="/auth/login" method="post">

        <span>@Html.ValidationMessage("Login")</span>

        <input type="text" name="Username" placeholder="Usuario" />
        <input type="password" name="Password" placeholder="Contraseña" />

        <button>Login</button>
    </form>